<header id="header" class="full-header">
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/plugins.js"></script>
    <script type="text/javascript" src="assets/js/functions.js"></script>

    <div id="header-wrap">
        <div class="container clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
            <!-- Logo ============================================= -->
            <div id="logo">
                <!-- FIX LOGO LATER -->
                <a href="#" class="standard-logo"><img src="images/academiaclub.png" alt="Academia Club Logo"></a>
            </div>
            <!-- #logo end -->


            <!-- Primary Navigation============================================= -->
            <nav id="primary-menu">
                <ul>
                    <!--  # add class current to li for current page effect #} -->
                    <li class="current">
                        <a href="#">
                            <a routerLink="">Accueil</a>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                        <a routerLink="">Carrières</a>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <a routerLink="/conference">Conférences</a>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>À propos</div>
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    <a routerLink="/faq">FAQ</a>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <a routerLink="/mission">Mission</a>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <a routerLink="/contact">Contact</a>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <a routerLink="/condition">Condition d'utilisation</a>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <a routerLink="">Connexion</a>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <a routerLink="">Inscription</a>
                        </a>
                    </li>
                    <!--               Hide profile, deconnexion for non members, hide connexion inscription non members
 -->
                    <li>
                        <a href="#">
                            <a routerLink="">Membres</a>
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    <a routerLink="">Profile</a>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <a routerLink="">Déconnexion</a>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- #primary-menu end -->
        </div>
    </div>
</header>
