<header id="header">
  <a class="home-link" href="/">
    <img class="logo" src="https://i.imgur.com/rMfa8TG.png">
  </a>
  <div class="header-text">
    <div class="left">
      <span class="header-nav">
        <a routerLink="" href="">Accueil</a>
        <span class="divider">
          |
        </span>
        <a href="">Project</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/conference">Opportunités</a>
        <span class="divider">
          |
        </span>
        <a href="">À propos</a>
        <span class="divider">
          |
        </span>
        <a href="">Connexion</a>
        <span class="divider">
          |
        </span>
        <a href="">Inscription</a>
      </span>
    </div>
  </div>
</header>