<footer id="footer" class="dark">
    <!-- Copyrights
      ============================================= -->
    <div id="copyrights">
        <div class="container clearfix">
            <div class="col_half">
                <!--             (use current year function) -->
                &copy; 2016 Tout droit réservé Academia Club
            </div>
            <div class="col_half col_last tright">
                <div class="fright clearfix">
                    <div class="copyrights-menu copyright-links nobottommargin">
                        <!-- Same static links as above ,except for condition d'utilisation-->
                        <a href="#" routerLink="">Accueil</a>/<a href="#" routerLink="/conference">Conférences</a>/<a href="#" routerLink="">Carrières</a>/<a href="#" routerLink="/mission">Mission</a>/<a href="#" routerLink="/faq">FAQ</a>/<a href="#" routerLink="/contact">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #copyrights end -->
</footer>
<!-- #footer end -->
