<footer id="footer" class="dark">

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

        <div class="container clearfix">

          <div class="col_half">
<!--             (use current year function) -->            
            &copy; 2016 Tout droit réservé Academia Club
          </div>

          <div class="col_half col_last tright">
            <div class="fright clearfix">
              <div class="copyrights-menu copyright-links nobottommargin">
              <!-- Same static links as above ,except for condition d'utilisation-->
                <a href="#">Accueil</a>/<a href="#">Conférences</a>/<a href="#">Carrières</a>/<a href="#">Mission</a>/<a href="#">FAQ</a>/<a href="#">Contact</a>
              </div>
            </div>
          </div>

        </div>

      </div><!-- #copyrights end -->

    </footer><!-- #footer end -->