<div id="body">
    <section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix" data-loop="true">
        <div class="slider-parallax-inner">
            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide dark" style="background-image: url('assets/images/slider/swiper/1.jpg');">
                        <div class="container clearfix">
                            <div class="slider-caption slider-caption-center">
                                <h2 data-caption-animate="fadeInUp">Academia Club</h2>
                                <p data-caption-animate="fadeInUp" data-caption-delay="200">Explorer les opportunités de carrière, les conférences et les congrès qui vous intéressent</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide dark" style="background-image: url('assets/images/slider/swiper/2.jpg'); background-position: center top;">
                        <div class="container clearfix">
                            <div class="slider-caption">
                                <h2 data-caption-animate="fadeInUp">Gestion personnalisée</h2>
                                <p data-caption-animate="fadeInUp" data-caption-delay="200">Choisissez vous-même les sujets que vous voudriez suivre</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image: url('assets/images/slider/swiper/3.jpg'); background-position: center top;">
                        <div class="container clearfix">
                            <div class="slider-caption slider-caption-right">
                                <h2 data-caption-animate="fadeInUp">Accès facile</h2>
                                <p data-caption-animate="fadeInUp" data-caption-delay="200">Trouver l'information dont vous aurez besoin aisément</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
                <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- Content
        ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="promo promo-full promo-border header-stick bottommargin-lg">
                <div class="container clearfix">
                    <span>Devenez membre d'Academia Club afin de personnalisé votre expérience</span>
                    <a href="#" class="button button-reveal button-xlarge button-rounded tright"><i class="icon-angle-right"></i><span>Commencez dès aujourd'hui</span></a>
                </div>
            </div>
            <div class="container clearfix">
                <div class="col_one_third">
                    <div class="feature-box fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-screen i-alt"></i></a>
                        </div>
                        <h3>Responsive Layout</h3>
                        <p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
                    </div>
                </div>
                <div class="col_one_third">
                    <div class="feature-box fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-eye i-alt"></i></a>
                        </div>
                        <h3>Retina Ready Graphics</h3>
                        <p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
                    </div>
                </div>
                <div class="col_one_third col_last">
                    <div class="feature-box fbox-effect">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-beaker i-alt"></i></a>
                        </div>
                        <h3>Powerful Performance</h3>
                        <p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="clear"></div>
                <div class="line"></div>
                <div id="oc-clients-full" class="owl-carousel image-carousel carousel-widget" data-margin="30" data-nav="true" data-loop="true" data-autoplay="5000" data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4" data-items-md="5" data-items-lg="6">
                    <a href="#"><img src="assets/images/clients/1.png" alt="Clients"></a>
                    <a href="#"><img src="assets/images/clients/2.png" alt="Clients"></a>
                    <a href="#"><img src="assets/images/clients/3.png" alt="Clients"></a>
                    <a href="#"><img src="assets/images/clients/4.png" alt="Clients"></a>
                    <a href="#"><img src="assets/images/clients/5.png" alt="Clients"></a>
                    <a href="#"><img src="assets/images/clients/6.png" alt="Clients"></a>
                    <a href="#"><img src="assets/images/clients/7.png" alt="Clients"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- #content end <-->
    <!-- Go To Top
  ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- External JavaScripts
  ============================================= -->
<!--     <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/plugins.js"></script> -->
    <!-- Footer Scripts
  ============================================= -->
 </div>
