<div class="main-content">
    <p>
        Accueil > Conférences et congrès
    </p>
    <ol>
        <li>{{items.results | json}}</li>
        <li *ngFor="let item of items.results">
            <!--             <div on-mouseover='over()'>hello mouseover</div>
 -->
            <p>{{item.event_text}}</p>
            <p>{{item.start_date}} a {{item.end_date}}</p>
            <p>{{item.event_city}} ({{item.event_region}}), {{item.event_country}}</p>
        </li>
    </ol>
    <div class="nav">
        <a href="" class="prev">
      ‹ Prev
    </a>
        <a href="" class="more">
      More ›
    </a>
    </div>
</div>
