<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="viewport" content="{% block viewport %}width=device-width"{% endblock %}>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- from header.component.html -->
    <script type="text/javascript" src="app/assets/js/jquery.js"></script>
    <script type="text/javascript" src="app/assets/js/plugins.js"></script>
    <!-- <script type="text/javascript" src="app/assets/js/functions.js"></script> -->
    <!-- from conference.component.html -->
    <script type="text/javascript" src="app/assets/js/components/bs-select.js"></script>
    <script type="text/javascript" src="app/assets/js/components/selectsplitter.js"></script>
    <script type="text/javascript">
    $('.selectsplitter').selectsplitter();
    </script>

    <meta charset="utf-8">
    <title>Academia Club</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body>
    <app-root>
    <div id='css3-spinner-svg-pulse-wrapper'><svg id='css3-spinner-svg-pulse' version='1.2' height='210' width='550' xmlns='http://www.w3.org/2000/svg' viewport='0 0 60 60' xmlns:xlink='http://www.w3.org/1999/xlink'><path id='css3-spinner-pulse' stroke='#13436d' fill='none' stroke-width='2' stroke-linejoin='round' d='M0,90L250,90Q257,60 262,87T267,95 270,88 273,92t6,35 7,-60T290,127 297,107s2,-11 10,-10 1,1 8,-10T319,95c6,4 8,-6 10,-17s2,10 9,11h210' /></svg></div>
    </app-root>
</body>

</html>







