<!-- Page Title
    ============================================= -->
<section id="page-title">
    <div class="container clearfix">
        <h1>Evènement - detail</h1>
        <div id="portfolio-navigation">
            <a href="#"><i class="icon-angle-left"></i></a>
            <a href="#"><i class="icon-line-grid"></i></a>
            <a href="#"><i class="icon-angle-right"></i></a>
        </div>
    </div>
</section>
<!-- #page-title end -->
<!-- Content
    ============================================= -->
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <!-- Evenement side bar
            ============================================= -->
            <div class="col_one_third ">
                <!-- Evenement Single Image
                ============================================= -->
                <!--                         <a href="#"><img src="{% static "" %}images/portfolio/single/10.jpg" alt=""></a>
            -->
                <!-- Evenement single image end -->
                <hr>
                <!-- Evenement filter data
                ============================================= -->
                <div *ngIf="conferenceEvent">
                    <section id="filters">
                        <h5 class="nobottommargin">
                            <i class="icon-line2-pin"></i> Catégorie
                        </h5>
                        <p class="nobottommargin">{{conferenceEvent.category}}</p>
                        <h5 class="nobottommargin">
                            <i class="icon-stethoscope"></i> Spécialité
                        </h5>
                        <p class="nobottommargin">{{conferenceEvent.specialty}}</p>
                        <h5 class="nobottommargin">
                            <i class="icon-line-tag"></i> Tags
                        </h5>
                        <p class="nobottommargin">{{conferenceEvent.event_tag}}</p>
                    </section>
                    <!-- Evenement filter data end -->
                    <!-- Evenement call to action button -->
                    <!--                     <a href="#" class="button button-3d button-rounded button-blue"><i class="icon-bookmark"></i>Abonner</a>
 --></div>
                <!-- Evenement Content
            ============================================= -->
                <div *ngIf="conferenceEvent" class="col_two_third portfolio-single-content col_last nobottommargin">
                    <div class="fancy-title title-bottom-border">
                        <h2>Titre de l'évènement</h2> {{conferenceEvent.event_text}}
                    </div>
                    <h5 class="nobottommargin">Date</h5>
                    <p>{{conferenceEvent.start_date}} à {{conferenceEvent.end_date}}"</p>
                    <hr>
                    <h5 class="nobottommargin">Emplacement</h5>
                    <p>{{conferenceEvent.event_city}}, {{conferenceEvent.event_region}}, {{conferenceEvent.event_country}}</p>
                    <hr>
                    <h5 class="nobottommargin">Description</h5>
                    <p>{{conferenceEvent.event_description}}</p>
                    <hr>
                    <h5 class="nobottommargin">Programme</h5>
                    <p>{{conferenceEvent.event_program}}</p>
                    <hr>
                    <h5 class="nobottommargin">Frais d'inscription</h5>
                    <p>{{conferenceEvent.event_cost}}</p>
                    <hr>
                    <h5 class="nobottommargin">Lien d'inscription</h5>
                    <p>{{conferenceEvent.event_link}}</p>
                    <hr>
                    <h5 class="nobottommargin">Appel de resumes</h5>
                    <p>Date limite 2010-09-00</p>
                    <hr>
                    <h5 class="nobottommargin">Autres informations</h5>
                    <p>Insert autres informations here</p>
                    <!--  Evenement Content End -->
                    <!-- Evenement - Share
                ============================================= -->
                    <div class="si-share clearfix">
                        <span>Partager:</span>
                        <div>
                            <a href="#" class="social-icon si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-pinterest">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-email3">
                                <i class="icon-email3"></i>
                                <i class="icon-email3"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Portfolio Single - Share End -->
                </div>
                <!-- .portfolio-single-content end -->
                <div class="clear"></div>
                <div class="divider divider-center"><i class="icon-circle"></i></div>
                <!-- Related Portfolio Items
            ============================================= -->
                <h4>Related Projects: (insert events with same tags here, 9 at most?)</h4>
                <!-- .portfolio-carousel end -->
            </div>
        </div>
    </div>
</section>
<!-- #content end -->
